@model FlatExpenseCalculator.Models.Property

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
   <h4>Property</h4>
   <hr />
   <dl class="dl-horizontal">
      <dt>
         @Html.DisplayNameFor(model => model.Name)
      </dt>
      <dd>
         @Html.DisplayFor(model => model.Name)
      </dd>
      <dt>
         @Html.DisplayNameFor(model => model.CurrentTotalRent)
      </dt>
      <dd>
         @Html.DisplayFor(model => model.CurrentTotalRent)
      </dd>
      <dt>
         @Html.DisplayNameFor(model => model.DateApplied)
      </dt>
      <dd>
         @Html.DisplayFor(model => model.DateApplied)
      </dd>
      <dt>
         @Html.DisplayNameFor(model => model.Rooms)
      </dt>
      @foreach (var room in Model.Rooms)
      {
         <dd>
            <a asp-action="Details" asp-controller="Rooms" asp-route-id="@room.Id">@(room.Occupants.FirstOrDefault() != null ? room.Occupants.First().UserName + "'s room" : "unoccupied")</a>

         </dd>
                }
      <dt>
         @Html.DisplayNameFor(model => model.Tenants)
      </dt>
      @foreach (var tenant in Model.Tenants)
      {
         <dd>
            <a asp-action="Details" asp-route-id="@tenant.Id">@tenant.UserName</a>
         </dd>
      }
   </dl>
</div>
<div>
   <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
   <a asp-action="Index">Back to List</a>
</div>
